ul {  list-style-type: circle; }

li { display: list-item; }

ul.demo {
  list-style-type: none;
  margin: 10;
  padding-top: 50px;
  padding-bottom: 50px;
}

a.one:link {color:#ff0000;}
a.one:visited {color:#0000ff;}
a.one:hover {color:#00ecff;}

