
ul {  
  background: #3399ff;
  padding: 20px;
  list-style-type: circle; 
}

li { display: list-item; }

.linkMain {
  position: fixed;
  width: 25%;
  float: left;
  padding: 15px;
  text-align:left;
}

a.one:link {color:#ff0000;}
a.one:visited {color:#0000ff;}
a.one:hover {color:#00ecff;}

