body {
  background-color: powderblue;
}

p {
  color: green;
}

h1 {
 color: yellow;
}

h2 {
 color: pink;
}

.header {
  padding: 15px;
  text-align: center;
}

.menu {
  width: 25%;
  float: left;
  padding: 15px;
}

.main {
  width: 75%;
  float: right;
  padding: 15px;

}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: red;
   text-align: center;
}


