body {
  background-color: powderblue;
}

p {
  color: green;
}

h1 {
 color: black;
}

h2 {
 color: black;
}

.header {
  padding: 15px;
  text-align: center;
}


.main {
  position: fixed;
  width: 75%;
  float: right;
  padding: 15px;

}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: red;
   text-align: center;
}


