body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

a.one:link {color:#ff0000;}
a.one:visited {color:#0000ff;}
a.one:hover {color:#ffcc00;}

* {
  box-sizing: border-box;
}

.header {
  padding: 15px;
  text-align: center;
}

.menu {
  width: 25%;
  float: left;
  padding: 15px;
}

.main {
  width: 75%;
  float: left;
  padding: 15px;

}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: red;
   text-align: center;
}


