body {
  background-color: #c1d0db;
}

p {
  color: black;
}

h1 {
 color: black;
}

h2 {
 color: black;
}

.header {
  padding: 15px;
  text-align: center;
}

.menu {
  width: 25%;
  padding: 25px;
  box-sizing: border-box;
}

.main {
  width: 75%;
  float: right;
  padding: 15px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: red;
   text-align: center;
}


